.editForm {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
    padding: 1.25rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem;
    background: #d2d8e1;
}

input[type="datetime-local"] {
    cursor: pointer;
}

button {
    padding: 0.625rem 0.9375rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.submitEdit {
    background-color: #4CAF50;
    color: white;
}

.submitEdit:hover {
    background-color: #45a049;
}

.cancelEdit{
    background-color: #df4035;
    color: white;
}

.cancelEdit:hover {
    background-color: #d13a30;
}
